{
  "openapi": "3.0.0",
  "info": {
    "title": "Unified API",
    "version": "1.0.0",
    "description": "Unified API documentation from Swagger 1.2 files"
  },
  "servers": [
    {
      "url": "https://fhict.instructure.com:443/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/global/root_outcome_group": {
      "get": {
        "summary": "Redirect to root outcome group for context",
        "description": "Convenience redirect to find the root outcome group for a particular\ncontext. Will redirect to the appropriate outcome group's URL.",
        "parameters": []
      }
    },
    "/v1/accounts/{account_id}/root_outcome_group": {
      "get": {
        "summary": "Redirect to root outcome group for context",
        "description": "Convenience redirect to find the root outcome group for a particular\ncontext. Will redirect to the appropriate outcome group's URL.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/courses/{course_id}/root_outcome_group": {
      "get": {
        "summary": "Redirect to root outcome group for context",
        "description": "Convenience redirect to find the root outcome group for a particular\ncontext. Will redirect to the appropriate outcome group's URL.",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/outcome_groups": {
      "get": {
        "summary": "Get all outcome groups for context",
        "description": "",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/courses/{course_id}/outcome_groups": {
      "get": {
        "summary": "Get all outcome groups for context",
        "description": "",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/outcome_group_links": {
      "get": {
        "summary": "Get all outcome links for context",
        "description": "",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "query",
            "name": "outcome_style",
            "description": "The detail level of the outcomes. Defaults to \"abbrev\".\nSpecify \"full\" for more information.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "query",
            "name": "outcome_group_style",
            "description": "The detail level of the outcome groups. Defaults to \"abbrev\".\nSpecify \"full\" for more information.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/courses/{course_id}/outcome_group_links": {
      "get": {
        "summary": "Get all outcome links for context",
        "description": "",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "query",
            "name": "outcome_style",
            "description": "The detail level of the outcomes. Defaults to \"abbrev\".\nSpecify \"full\" for more information.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "query",
            "name": "outcome_group_style",
            "description": "The detail level of the outcome groups. Defaults to \"abbrev\".\nSpecify \"full\" for more information.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/global/outcome_groups/{id}": {
      "get": {
        "summary": "Show an outcome group",
        "description": "",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      },
      "put": {
        "summary": "Update an outcome group",
        "description": "Modify an existing outcome group. Fields not provided are left as is;\nunrecognized fields are ignored.\n\nWhen changing the parent outcome group, the new parent group must belong to\nthe same context as this outcome group, and must not be a descendant of\nthis outcome group (i.e. no cycles allowed).",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "title",
            "description": "The new outcome group title.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "description",
            "description": "The new outcome group description.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "vendor_guid",
            "description": "A custom GUID for the learning standard.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "parent_outcome_group_id",
            "description": "The id of the new parent outcome group.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ]
      },
      "delete": {
        "summary": "Delete an outcome group",
        "description": "Deleting an outcome group deletes descendant outcome groups and outcome\nlinks. The linked outcomes themselves are only deleted if all links to the\noutcome were deleted.\n\nAligned outcomes cannot be deleted; as such, if all remaining links to an\naligned outcome are included in this group's descendants, the group\ndeletion will fail.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/outcome_groups/{id}": {
      "get": {
        "summary": "Show an outcome group",
        "description": "",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      },
      "put": {
        "summary": "Update an outcome group",
        "description": "Modify an existing outcome group. Fields not provided are left as is;\nunrecognized fields are ignored.\n\nWhen changing the parent outcome group, the new parent group must belong to\nthe same context as this outcome group, and must not be a descendant of\nthis outcome group (i.e. no cycles allowed).",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "title",
            "description": "The new outcome group title.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "description",
            "description": "The new outcome group description.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "vendor_guid",
            "description": "A custom GUID for the learning standard.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "parent_outcome_group_id",
            "description": "The id of the new parent outcome group.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ]
      },
      "delete": {
        "summary": "Delete an outcome group",
        "description": "Deleting an outcome group deletes descendant outcome groups and outcome\nlinks. The linked outcomes themselves are only deleted if all links to the\noutcome were deleted.\n\nAligned outcomes cannot be deleted; as such, if all remaining links to an\naligned outcome are included in this group's descendants, the group\ndeletion will fail.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/courses/{course_id}/outcome_groups/{id}": {
      "get": {
        "summary": "Show an outcome group",
        "description": "",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      },
      "put": {
        "summary": "Update an outcome group",
        "description": "Modify an existing outcome group. Fields not provided are left as is;\nunrecognized fields are ignored.\n\nWhen changing the parent outcome group, the new parent group must belong to\nthe same context as this outcome group, and must not be a descendant of\nthis outcome group (i.e. no cycles allowed).",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "title",
            "description": "The new outcome group title.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "description",
            "description": "The new outcome group description.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "vendor_guid",
            "description": "A custom GUID for the learning standard.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "parent_outcome_group_id",
            "description": "The id of the new parent outcome group.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ]
      },
      "delete": {
        "summary": "Delete an outcome group",
        "description": "Deleting an outcome group deletes descendant outcome groups and outcome\nlinks. The linked outcomes themselves are only deleted if all links to the\noutcome were deleted.\n\nAligned outcomes cannot be deleted; as such, if all remaining links to an\naligned outcome are included in this group's descendants, the group\ndeletion will fail.",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/global/outcome_groups/{id}/outcomes": {
      "get": {
        "summary": "List linked outcomes",
        "description": "A paginated list of the immediate OutcomeLink children of the outcome group.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "query",
            "name": "outcome_style",
            "description": "The detail level of the outcomes. Defaults to \"abbrev\".\nSpecify \"full\" for more information.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      },
      "post": {
        "summary": "Create/link an outcome",
        "description": "Link an outcome into the outcome group. The outcome to link can either be\nspecified by a PUT to the link URL for a specific outcome (the outcome_id\nin the PUT URLs) or by supplying the information for a new outcome (title,\ndescription, ratings, mastery_points) in a POST to the collection.\n\nIf linking an existing outcome, the outcome_id must identify an outcome\navailable to this context; i.e. an outcome owned by this group's context,\nan outcome owned by an associated account, or a global outcome. With\noutcome_id present, any other parameters (except move_from) are ignored.\n\nIf defining a new outcome, the outcome is created in the outcome group's\ncontext using the provided title, description, ratings, and mastery points;\nthe title is required but all other fields are optional. The new outcome\nis then linked into the outcome group.\n\nIf ratings are provided when creating a new outcome, an embedded rubric\ncriterion is included in the new outcome. This criterion's mastery_points\ndefault to the maximum points in the highest rating if not specified in the\nmastery_points parameter. Any ratings lacking a description are given a\ndefault of \"No description\". Any ratings lacking a point value are given a\ndefault of 0. If no ratings are provided, the mastery_points parameter is\nignored.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "outcome_id",
            "description": "The ID of the existing outcome to link.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "move_from",
            "description": "The ID of the old outcome group. Only used if outcome_id is present.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "title",
            "description": "The title of the new outcome. Required if outcome_id is absent.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "display_name",
            "description": "A friendly name shown in reports for outcomes with cryptic titles,\nsuch as common core standards names.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "description",
            "description": "The description of the new outcome.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "vendor_guid",
            "description": "A custom GUID for the learning standard.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "mastery_points",
            "description": "The mastery threshold for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "ratings[description]",
            "description": "The description of a rating level for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "array",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "ratings[points]",
            "description": "The points corresponding to a rating level for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "array",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "calculation_method",
            "description": "The new calculation method.  Defaults to \"decaying_average\"\nif the Outcomes New Decaying Average Calculation Method FF is ENABLED\nthen Defaults to \"weighted_average\"",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "calculation_int",
            "description": "The new calculation int.  Only applies if the calculation_method is \"weighted_average\", \"decaying_average\" or \"n_mastery\". Defaults to 65",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/outcome_groups/{id}/outcomes": {
      "get": {
        "summary": "List linked outcomes",
        "description": "A paginated list of the immediate OutcomeLink children of the outcome group.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "query",
            "name": "outcome_style",
            "description": "The detail level of the outcomes. Defaults to \"abbrev\".\nSpecify \"full\" for more information.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      },
      "post": {
        "summary": "Create/link an outcome",
        "description": "Link an outcome into the outcome group. The outcome to link can either be\nspecified by a PUT to the link URL for a specific outcome (the outcome_id\nin the PUT URLs) or by supplying the information for a new outcome (title,\ndescription, ratings, mastery_points) in a POST to the collection.\n\nIf linking an existing outcome, the outcome_id must identify an outcome\navailable to this context; i.e. an outcome owned by this group's context,\nan outcome owned by an associated account, or a global outcome. With\noutcome_id present, any other parameters (except move_from) are ignored.\n\nIf defining a new outcome, the outcome is created in the outcome group's\ncontext using the provided title, description, ratings, and mastery points;\nthe title is required but all other fields are optional. The new outcome\nis then linked into the outcome group.\n\nIf ratings are provided when creating a new outcome, an embedded rubric\ncriterion is included in the new outcome. This criterion's mastery_points\ndefault to the maximum points in the highest rating if not specified in the\nmastery_points parameter. Any ratings lacking a description are given a\ndefault of \"No description\". Any ratings lacking a point value are given a\ndefault of 0. If no ratings are provided, the mastery_points parameter is\nignored.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "outcome_id",
            "description": "The ID of the existing outcome to link.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "move_from",
            "description": "The ID of the old outcome group. Only used if outcome_id is present.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "title",
            "description": "The title of the new outcome. Required if outcome_id is absent.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "display_name",
            "description": "A friendly name shown in reports for outcomes with cryptic titles,\nsuch as common core standards names.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "description",
            "description": "The description of the new outcome.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "vendor_guid",
            "description": "A custom GUID for the learning standard.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "mastery_points",
            "description": "The mastery threshold for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "ratings[description]",
            "description": "The description of a rating level for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "array",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "ratings[points]",
            "description": "The points corresponding to a rating level for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "array",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "calculation_method",
            "description": "The new calculation method.  Defaults to \"decaying_average\"\nif the Outcomes New Decaying Average Calculation Method FF is ENABLED\nthen Defaults to \"weighted_average\"",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "calculation_int",
            "description": "The new calculation int.  Only applies if the calculation_method is \"weighted_average\", \"decaying_average\" or \"n_mastery\". Defaults to 65",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ]
      }
    },
    "/v1/courses/{course_id}/outcome_groups/{id}/outcomes": {
      "get": {
        "summary": "List linked outcomes",
        "description": "A paginated list of the immediate OutcomeLink children of the outcome group.",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "query",
            "name": "outcome_style",
            "description": "The detail level of the outcomes. Defaults to \"abbrev\".\nSpecify \"full\" for more information.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      },
      "post": {
        "summary": "Create/link an outcome",
        "description": "Link an outcome into the outcome group. The outcome to link can either be\nspecified by a PUT to the link URL for a specific outcome (the outcome_id\nin the PUT URLs) or by supplying the information for a new outcome (title,\ndescription, ratings, mastery_points) in a POST to the collection.\n\nIf linking an existing outcome, the outcome_id must identify an outcome\navailable to this context; i.e. an outcome owned by this group's context,\nan outcome owned by an associated account, or a global outcome. With\noutcome_id present, any other parameters (except move_from) are ignored.\n\nIf defining a new outcome, the outcome is created in the outcome group's\ncontext using the provided title, description, ratings, and mastery points;\nthe title is required but all other fields are optional. The new outcome\nis then linked into the outcome group.\n\nIf ratings are provided when creating a new outcome, an embedded rubric\ncriterion is included in the new outcome. This criterion's mastery_points\ndefault to the maximum points in the highest rating if not specified in the\nmastery_points parameter. Any ratings lacking a description are given a\ndefault of \"No description\". Any ratings lacking a point value are given a\ndefault of 0. If no ratings are provided, the mastery_points parameter is\nignored.",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "outcome_id",
            "description": "The ID of the existing outcome to link.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "move_from",
            "description": "The ID of the old outcome group. Only used if outcome_id is present.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "title",
            "description": "The title of the new outcome. Required if outcome_id is absent.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "display_name",
            "description": "A friendly name shown in reports for outcomes with cryptic titles,\nsuch as common core standards names.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "description",
            "description": "The description of the new outcome.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "vendor_guid",
            "description": "A custom GUID for the learning standard.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "mastery_points",
            "description": "The mastery threshold for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "ratings[description]",
            "description": "The description of a rating level for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "array",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "ratings[points]",
            "description": "The points corresponding to a rating level for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "array",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "calculation_method",
            "description": "The new calculation method.  Defaults to \"decaying_average\"\nif the Outcomes New Decaying Average Calculation Method FF is ENABLED\nthen Defaults to \"weighted_average\"",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "calculation_int",
            "description": "The new calculation int.  Only applies if the calculation_method is \"weighted_average\", \"decaying_average\" or \"n_mastery\". Defaults to 65",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ]
      }
    },
    "/v1/global/outcome_groups/{id}/outcomes/{outcome_id}": {
      "put": {
        "summary": "Create/link an outcome",
        "description": "Link an outcome into the outcome group. The outcome to link can either be\nspecified by a PUT to the link URL for a specific outcome (the outcome_id\nin the PUT URLs) or by supplying the information for a new outcome (title,\ndescription, ratings, mastery_points) in a POST to the collection.\n\nIf linking an existing outcome, the outcome_id must identify an outcome\navailable to this context; i.e. an outcome owned by this group's context,\nan outcome owned by an associated account, or a global outcome. With\noutcome_id present, any other parameters (except move_from) are ignored.\n\nIf defining a new outcome, the outcome is created in the outcome group's\ncontext using the provided title, description, ratings, and mastery points;\nthe title is required but all other fields are optional. The new outcome\nis then linked into the outcome group.\n\nIf ratings are provided when creating a new outcome, an embedded rubric\ncriterion is included in the new outcome. This criterion's mastery_points\ndefault to the maximum points in the highest rating if not specified in the\nmastery_points parameter. Any ratings lacking a description are given a\ndefault of \"No description\". Any ratings lacking a point value are given a\ndefault of 0. If no ratings are provided, the mastery_points parameter is\nignored.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "outcome_id",
            "description": "The ID of the existing outcome to link.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "move_from",
            "description": "The ID of the old outcome group. Only used if outcome_id is present.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "title",
            "description": "The title of the new outcome. Required if outcome_id is absent.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "display_name",
            "description": "A friendly name shown in reports for outcomes with cryptic titles,\nsuch as common core standards names.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "description",
            "description": "The description of the new outcome.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "vendor_guid",
            "description": "A custom GUID for the learning standard.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "mastery_points",
            "description": "The mastery threshold for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "ratings[description]",
            "description": "The description of a rating level for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "array",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "ratings[points]",
            "description": "The points corresponding to a rating level for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "array",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "calculation_method",
            "description": "The new calculation method.  Defaults to \"decaying_average\"\nif the Outcomes New Decaying Average Calculation Method FF is ENABLED\nthen Defaults to \"weighted_average\"",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "calculation_int",
            "description": "The new calculation int.  Only applies if the calculation_method is \"weighted_average\", \"decaying_average\" or \"n_mastery\". Defaults to 65",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ]
      },
      "delete": {
        "summary": "Unlink an outcome",
        "description": "Unlinking an outcome only deletes the outcome itself if this was the last\nlink to the outcome in any group in any context. Aligned outcomes cannot be\ndeleted; as such, if this is the last link to an aligned outcome, the\nunlinking will fail.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "outcome_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/outcome_groups/{id}/outcomes/{outcome_id}": {
      "put": {
        "summary": "Create/link an outcome",
        "description": "Link an outcome into the outcome group. The outcome to link can either be\nspecified by a PUT to the link URL for a specific outcome (the outcome_id\nin the PUT URLs) or by supplying the information for a new outcome (title,\ndescription, ratings, mastery_points) in a POST to the collection.\n\nIf linking an existing outcome, the outcome_id must identify an outcome\navailable to this context; i.e. an outcome owned by this group's context,\nan outcome owned by an associated account, or a global outcome. With\noutcome_id present, any other parameters (except move_from) are ignored.\n\nIf defining a new outcome, the outcome is created in the outcome group's\ncontext using the provided title, description, ratings, and mastery points;\nthe title is required but all other fields are optional. The new outcome\nis then linked into the outcome group.\n\nIf ratings are provided when creating a new outcome, an embedded rubric\ncriterion is included in the new outcome. This criterion's mastery_points\ndefault to the maximum points in the highest rating if not specified in the\nmastery_points parameter. Any ratings lacking a description are given a\ndefault of \"No description\". Any ratings lacking a point value are given a\ndefault of 0. If no ratings are provided, the mastery_points parameter is\nignored.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "outcome_id",
            "description": "The ID of the existing outcome to link.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "move_from",
            "description": "The ID of the old outcome group. Only used if outcome_id is present.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "title",
            "description": "The title of the new outcome. Required if outcome_id is absent.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "display_name",
            "description": "A friendly name shown in reports for outcomes with cryptic titles,\nsuch as common core standards names.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "description",
            "description": "The description of the new outcome.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "vendor_guid",
            "description": "A custom GUID for the learning standard.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "mastery_points",
            "description": "The mastery threshold for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "ratings[description]",
            "description": "The description of a rating level for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "array",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "ratings[points]",
            "description": "The points corresponding to a rating level for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "array",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "calculation_method",
            "description": "The new calculation method.  Defaults to \"decaying_average\"\nif the Outcomes New Decaying Average Calculation Method FF is ENABLED\nthen Defaults to \"weighted_average\"",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "calculation_int",
            "description": "The new calculation int.  Only applies if the calculation_method is \"weighted_average\", \"decaying_average\" or \"n_mastery\". Defaults to 65",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ]
      },
      "delete": {
        "summary": "Unlink an outcome",
        "description": "Unlinking an outcome only deletes the outcome itself if this was the last\nlink to the outcome in any group in any context. Aligned outcomes cannot be\ndeleted; as such, if this is the last link to an aligned outcome, the\nunlinking will fail.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "outcome_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/courses/{course_id}/outcome_groups/{id}/outcomes/{outcome_id}": {
      "put": {
        "summary": "Create/link an outcome",
        "description": "Link an outcome into the outcome group. The outcome to link can either be\nspecified by a PUT to the link URL for a specific outcome (the outcome_id\nin the PUT URLs) or by supplying the information for a new outcome (title,\ndescription, ratings, mastery_points) in a POST to the collection.\n\nIf linking an existing outcome, the outcome_id must identify an outcome\navailable to this context; i.e. an outcome owned by this group's context,\nan outcome owned by an associated account, or a global outcome. With\noutcome_id present, any other parameters (except move_from) are ignored.\n\nIf defining a new outcome, the outcome is created in the outcome group's\ncontext using the provided title, description, ratings, and mastery points;\nthe title is required but all other fields are optional. The new outcome\nis then linked into the outcome group.\n\nIf ratings are provided when creating a new outcome, an embedded rubric\ncriterion is included in the new outcome. This criterion's mastery_points\ndefault to the maximum points in the highest rating if not specified in the\nmastery_points parameter. Any ratings lacking a description are given a\ndefault of \"No description\". Any ratings lacking a point value are given a\ndefault of 0. If no ratings are provided, the mastery_points parameter is\nignored.",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "outcome_id",
            "description": "The ID of the existing outcome to link.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "move_from",
            "description": "The ID of the old outcome group. Only used if outcome_id is present.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "title",
            "description": "The title of the new outcome. Required if outcome_id is absent.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "display_name",
            "description": "A friendly name shown in reports for outcomes with cryptic titles,\nsuch as common core standards names.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "description",
            "description": "The description of the new outcome.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "vendor_guid",
            "description": "A custom GUID for the learning standard.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "mastery_points",
            "description": "The mastery threshold for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "ratings[description]",
            "description": "The description of a rating level for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "array",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "ratings[points]",
            "description": "The points corresponding to a rating level for the embedded rubric criterion.",
            "required": false,
            "schema": {
              "type": "array",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "calculation_method",
            "description": "The new calculation method.  Defaults to \"decaying_average\"\nif the Outcomes New Decaying Average Calculation Method FF is ENABLED\nthen Defaults to \"weighted_average\"",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "calculation_int",
            "description": "The new calculation int.  Only applies if the calculation_method is \"weighted_average\", \"decaying_average\" or \"n_mastery\". Defaults to 65",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ]
      },
      "delete": {
        "summary": "Unlink an outcome",
        "description": "Unlinking an outcome only deletes the outcome itself if this was the last\nlink to the outcome in any group in any context. Aligned outcomes cannot be\ndeleted; as such, if this is the last link to an aligned outcome, the\nunlinking will fail.",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "outcome_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/global/outcome_groups/{id}/subgroups": {
      "get": {
        "summary": "List subgroups",
        "description": "A paginated list of the immediate OutcomeGroup children of the outcome group.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      },
      "post": {
        "summary": "Create a subgroup",
        "description": "Creates a new empty subgroup under the outcome group with the given title\nand description.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "title",
            "description": "The title of the new outcome group.",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "description",
            "description": "The description of the new outcome group.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "vendor_guid",
            "description": "A custom GUID for the learning standard",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/outcome_groups/{id}/subgroups": {
      "get": {
        "summary": "List subgroups",
        "description": "A paginated list of the immediate OutcomeGroup children of the outcome group.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      },
      "post": {
        "summary": "Create a subgroup",
        "description": "Creates a new empty subgroup under the outcome group with the given title\nand description.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "title",
            "description": "The title of the new outcome group.",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "description",
            "description": "The description of the new outcome group.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "vendor_guid",
            "description": "A custom GUID for the learning standard",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/courses/{course_id}/outcome_groups/{id}/subgroups": {
      "get": {
        "summary": "List subgroups",
        "description": "A paginated list of the immediate OutcomeGroup children of the outcome group.",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      },
      "post": {
        "summary": "Create a subgroup",
        "description": "Creates a new empty subgroup under the outcome group with the given title\nand description.",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "title",
            "description": "The title of the new outcome group.",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "description",
            "description": "The description of the new outcome group.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "vendor_guid",
            "description": "A custom GUID for the learning standard",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/global/outcome_groups/{id}/import": {
      "post": {
        "summary": "Import an outcome group",
        "description": "Creates a new subgroup of the outcome group with the same title and\ndescription as the source group, then creates links in that new subgroup to\nthe same outcomes that are linked in the source group. Recurses on the\nsubgroups of the source group, importing them each in turn into the new\nsubgroup.\n\nAllows you to copy organizational structure, but does not create copies of\nthe outcomes themselves, only new links.\n\nThe source group must be either global, from the same context as this\noutcome group, or from an associated account. The source group cannot be\nthe root outcome group of its context.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "source_outcome_group_id",
            "description": "The ID of the source outcome group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "async",
            "description": "If true, perform action asynchronously.  In that case, this endpoint\nwill return a Progress object instead of an OutcomeGroup.\nUse the {api:ProgressController#show progress endpoint}\nto query the status of the operation.  The imported outcome group id\nand url will be returned in the results of the Progress object\nas \"outcome_group_id\" and \"outcome_group_url\"",
            "required": false,
            "schema": {
              "type": "boolean",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/outcome_groups/{id}/import": {
      "post": {
        "summary": "Import an outcome group",
        "description": "Creates a new subgroup of the outcome group with the same title and\ndescription as the source group, then creates links in that new subgroup to\nthe same outcomes that are linked in the source group. Recurses on the\nsubgroups of the source group, importing them each in turn into the new\nsubgroup.\n\nAllows you to copy organizational structure, but does not create copies of\nthe outcomes themselves, only new links.\n\nThe source group must be either global, from the same context as this\noutcome group, or from an associated account. The source group cannot be\nthe root outcome group of its context.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "source_outcome_group_id",
            "description": "The ID of the source outcome group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "async",
            "description": "If true, perform action asynchronously.  In that case, this endpoint\nwill return a Progress object instead of an OutcomeGroup.\nUse the {api:ProgressController#show progress endpoint}\nto query the status of the operation.  The imported outcome group id\nand url will be returned in the results of the Progress object\nas \"outcome_group_id\" and \"outcome_group_url\"",
            "required": false,
            "schema": {
              "type": "boolean",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/courses/{course_id}/outcome_groups/{id}/import": {
      "post": {
        "summary": "Import an outcome group",
        "description": "Creates a new subgroup of the outcome group with the same title and\ndescription as the source group, then creates links in that new subgroup to\nthe same outcomes that are linked in the source group. Recurses on the\nsubgroups of the source group, importing them each in turn into the new\nsubgroup.\n\nAllows you to copy organizational structure, but does not create copies of\nthe outcomes themselves, only new links.\n\nThe source group must be either global, from the same context as this\noutcome group, or from an associated account. The source group cannot be\nthe root outcome group of its context.",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "source_outcome_group_id",
            "description": "The ID of the source outcome group.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "formData",
            "name": "async",
            "description": "If true, perform action asynchronously.  In that case, this endpoint\nwill return a Progress object instead of an OutcomeGroup.\nUse the {api:ProgressController#show progress endpoint}\nto query the status of the operation.  The imported outcome group id\nand url will be returned in the results of the Progress object\nas \"outcome_group_id\" and \"outcome_group_url\"",
            "required": false,
            "schema": {
              "type": "boolean",
              "format": null
            }
          }
        ]
      }
    },
    "/lti/subscriptions": {
      "post": {
        "summary": "Create a Webhook Subscription",
        "description": "Creates a webook subscription for the specified event type and\ncontext.",
        "parameters": [
          {
            "in": "formData",
            "name": "subscription[ContextId]",
            "description": "The id of the context for the subscription.",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "subscription[ContextType]",
            "description": "The type of context for the subscription. Must be 'assignment',\n'account', or 'course'.",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "subscription[EventTypes]",
            "description": "Array of strings representing the event types for\nthe subscription.",
            "required": true,
            "schema": {
              "type": "Array",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "subscription[Format]",
            "description": "Format to deliver the live events. Must be 'live-event' or 'caliper'.",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "subscription[TransportMetadata]",
            "description": "An object with a single key: 'Url'. Example: { \"Url\": \"sqs.example\" }",
            "required": true,
            "schema": {
              "type": "Object",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "subscription[TransportType]",
            "description": "Must be either 'sqs' or 'https'.",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      },
      "get": {
        "summary": "List all Webhook Subscription for a tool proxy",
        "description": "This endpoint returns a paginated list with a default limit of 100 items per result set.\nYou can retrieve the next result set by setting a 'StartKey' header in your next request\nwith the value of the 'EndKey' header in the response.\n\nExample use of a 'StartKey' header object:\n  { \"Id\":\"71d6dfba-0547-477d-b41d-db8cb528c6d1\",\"DeveloperKey\":\"10000000000001\" }",
        "parameters": []
      }
    },
    "/lti/subscriptions/{id}": {
      "delete": {
        "summary": "Delete a Webhook Subscription",
        "description": "",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      },
      "get": {
        "summary": "Show a single Webhook Subscription",
        "description": "",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      },
      "put": {
        "summary": "Update a Webhook Subscription",
        "description": "This endpoint uses the same parameters as the create endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/lti/courses/{course_id}/line_items/{line_item_id}/scores": {
      "post": {
        "summary": "Create a Score",
        "description": "Create a new Result from the score params. If this is for the first created line_item for a\nresourceLinkId, or it is a line item that is not attached to a resourceLinkId, then a submission\nrecord will be created for the associated assignment when gradingProgress is set to\nFullyGraded or PendingManual.\n\nThe submission score will also be updated when a score object is sent with either of those\ntwo values for gradingProgress. If a score object is sent with either of FullyGraded or\nPendingManual as the value for gradingProgress and scoreGiven is missing, the assignment\nwill not be graded. This also supposes the line_item meets the condition to create a submission.\n\nA submission comment with an unknown author will be created when the comment value is included.\nThis also supposes the line_item meets the condition to create a submission.\n\nIt is also possible to submit a file along with this score, which will attach the file to the\nsubmission that is created. Files should be formatted as Content Items, with the correct syntax\nbelow.\n\nReturns a url pointing to the Result. If any files were submitted, also returns the Content Items\nwhich were sent in the request, each with a url pointing to the Progress of the file upload.",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "line_item_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "userId",
            "description": "The lti_user_id or the Canvas user_id.\nReturns a 422 if user not found in Canvas or is not a student.",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "activityProgress",
            "description": "Indicate to Canvas the status of the user towards the activity's completion.\nMust be one of Initialized, Started, InProgress, Submitted, Completed.",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "gradingProgress",
            "description": "Indicate to Canvas the status of the grading process.\nA value of PendingManual will require intervention by a grader.\nValues of NotReady, Failed, and Pending will cause the scoreGiven to be ignored.\nFullyGraded values will require no action.\nPossible values are NotReady, Failed, Pending, PendingManual, FullyGraded.",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "timestamp",
            "description": "Date and time when the score was modified in the tool. Should use ISO8601-formatted date with subsecond precision.\nReturns a 400 if the timestamp is earlier than the updated_at time of the Result.",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "scoreGiven",
            "description": "The Current score received in the tool for this line item and user,\nscaled to the scoreMaximum",
            "required": false,
            "schema": {
              "type": "number",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "scoreMaximum",
            "description": "Maximum possible score for this result; it must be present if scoreGiven is present.\nReturns 422 if not present when scoreGiven is present.",
            "required": false,
            "schema": {
              "type": "number",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "comment",
            "description": "Comment visible to the student about this score.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "submission",
            "description": "Contains metadata about the submission attempt. Supported fields listed below.",
            "required": false,
            "schema": {
              "type": "Object",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "submission[submittedAt]",
            "description": "Date and time that the submission was originally created. Should use ISO8601-formatted date with subsecond precision.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "https://canvas.instructure.com/lti/submission",
            "description": "(EXTENSION) Optional submission type and data. Fields listed below.",
            "required": false,
            "schema": {
              "type": "Object",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "https://canvas.instructure.com/lti/submission[new_submission]",
            "description": "(EXTENSION field) flag to indicate that this is a new submission. Defaults to true unless submission_type is none.",
            "required": false,
            "schema": {
              "type": "boolean",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "https://canvas.instructure.com/lti/submission[preserve_score]",
            "description": "(EXTENSION field) flag to prevent a request from clearing an existing grade for a submission. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "https://canvas.instructure.com/lti/submission[prioritize_non_tool_grade]",
            "description": "(EXTENSION field) flag to prevent a request from overwriting an existing grade for a submission. Defaults to false.",
            "required": false,
            "schema": {
              "type": "boolean",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "https://canvas.instructure.com/lti/submission[submission_type]",
            "description": "(EXTENSION field) permissible values are: none, basic_lti_launch, online_text_entry, external_tool, online_upload, or online_url. Defaults to external_tool. Ignored if content_items are provided.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "https://canvas.instructure.com/lti/submission[submission_data]",
            "description": "(EXTENSION field) submission data (URL or body text). Only used for submission_types basic_lti_launch, online_text_entry, online_url. Ignored if content_items are provided.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "https://canvas.instructure.com/lti/submission[submitted_at]",
            "description": "(EXTENSION field) Date and time that the submission was originally created. Should use ISO8601-formatted date with subsecond precision. This should match the date and time that the original submission happened in Canvas. Use of submission.submittedAt is preferred.",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "https://canvas.instructure.com/lti/submission[content_items]",
            "description": "(EXTENSION field) Files that should be included with the submission. Each item should contain `type: file`, and a url pointing to the file. It can also contain a title, and an explicit MIME type if needed (otherwise, MIME type will be inferred from the title or url). If any items are present, submission_type will be online_upload.",
            "required": false,
            "schema": {
              "type": "Array",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/audit/course/courses/{course_id}": {
      "get": {
        "summary": "Query by course.",
        "description": "List course change events for a given course.",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "query",
            "name": "start_time",
            "description": "The beginning of the time range from which you want events.",
            "required": false,
            "schema": {
              "type": "DateTime",
              "format": null
            }
          },
          {
            "in": "query",
            "name": "end_time",
            "description": "The end of the time range from which you want events.",
            "required": false,
            "schema": {
              "type": "DateTime",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/audit/course/accounts/{account_id}": {
      "get": {
        "summary": "Query by account.",
        "description": "List course change events for a given account.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "query",
            "name": "start_time",
            "description": "The beginning of the time range from which you want events.",
            "required": false,
            "schema": {
              "type": "DateTime",
              "format": null
            }
          },
          {
            "in": "query",
            "name": "end_time",
            "description": "The end of the time range from which you want events.",
            "required": false,
            "schema": {
              "type": "DateTime",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/courses/{course_id}/external_feeds": {
      "get": {
        "summary": "List external feeds",
        "description": "Returns the paginated list of External Feeds this course or group.",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      },
      "post": {
        "summary": "Create an external feed",
        "description": "Create a new external feed for the course or group.",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "url",
            "description": "The url to the external rss or atom feed",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "header_match",
            "description": "If given, only feed entries that contain this string in their title will be imported",
            "required": false,
            "schema": {
              "type": "boolean",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "verbosity",
            "description": "Defaults to \"full\"",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/groups/{group_id}/external_feeds": {
      "get": {
        "summary": "List external feeds",
        "description": "Returns the paginated list of External Feeds this course or group.",
        "parameters": [
          {
            "in": "path",
            "name": "group_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      },
      "post": {
        "summary": "Create an external feed",
        "description": "Create a new external feed for the course or group.",
        "parameters": [
          {
            "in": "path",
            "name": "group_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "url",
            "description": "The url to the external rss or atom feed",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "header_match",
            "description": "If given, only feed entries that contain this string in their title will be imported",
            "required": false,
            "schema": {
              "type": "boolean",
              "format": null
            }
          },
          {
            "in": "formData",
            "name": "verbosity",
            "description": "Defaults to \"full\"",
            "required": false,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/courses/{course_id}/external_feeds/{external_feed_id}": {
      "delete": {
        "summary": "Delete an external feed",
        "description": "Deletes the external feed.",
        "parameters": [
          {
            "in": "path",
            "name": "course_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "external_feed_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/groups/{group_id}/external_feeds/{external_feed_id}": {
      "delete": {
        "summary": "Delete an external feed",
        "description": "Deletes the external feed.",
        "parameters": [
          {
            "in": "path",
            "name": "group_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "external_feed_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/analytics/terms/{term_id}/activity": {
      "get": {
        "summary": "Get department-level participation data",
        "description": "Returns page view hits summed across all courses in the department. Two\ngroupings of these counts are returned; one by day (+by_date+), the other\nby category (+by_category+). The possible categories are announcements,\nassignments, collaborations, conferences, discussions, files, general,\ngrades, groups, modules, other, pages, and quizzes.\n\nThis and the other department-level endpoints have three variations which\nall return the same style of data but for different subsets of courses. All\nshare the prefix /api/v1/accounts/<account_id>/analytics. The possible\nsuffixes are:\n\n * /current: includes all available courses in the default term\n * /completed: includes all concluded courses in the default term\n * /terms/<term_id>: includes all available or concluded courses in the\n   given term.\n\nCourses not yet offered or which have been deleted are never included.\n\n/current and /completed are intended for use when the account has only one\nterm. /terms/<term_id> is intended for use when the account has multiple\nterms.\n\nThe action follows the suffix.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "term_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/analytics/current/activity": {
      "get": {
        "summary": "Get department-level participation data",
        "description": "Returns page view hits summed across all courses in the department. Two\ngroupings of these counts are returned; one by day (+by_date+), the other\nby category (+by_category+). The possible categories are announcements,\nassignments, collaborations, conferences, discussions, files, general,\ngrades, groups, modules, other, pages, and quizzes.\n\nThis and the other department-level endpoints have three variations which\nall return the same style of data but for different subsets of courses. All\nshare the prefix /api/v1/accounts/<account_id>/analytics. The possible\nsuffixes are:\n\n * /current: includes all available courses in the default term\n * /completed: includes all concluded courses in the default term\n * /terms/<term_id>: includes all available or concluded courses in the\n   given term.\n\nCourses not yet offered or which have been deleted are never included.\n\n/current and /completed are intended for use when the account has only one\nterm. /terms/<term_id> is intended for use when the account has multiple\nterms.\n\nThe action follows the suffix.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/analytics/completed/activity": {
      "get": {
        "summary": "Get department-level participation data",
        "description": "Returns page view hits summed across all courses in the department. Two\ngroupings of these counts are returned; one by day (+by_date+), the other\nby category (+by_category+). The possible categories are announcements,\nassignments, collaborations, conferences, discussions, files, general,\ngrades, groups, modules, other, pages, and quizzes.\n\nThis and the other department-level endpoints have three variations which\nall return the same style of data but for different subsets of courses. All\nshare the prefix /api/v1/accounts/<account_id>/analytics. The possible\nsuffixes are:\n\n * /current: includes all available courses in the default term\n * /completed: includes all concluded courses in the default term\n * /terms/<term_id>: includes all available or concluded courses in the\n   given term.\n\nCourses not yet offered or which have been deleted are never included.\n\n/current and /completed are intended for use when the account has only one\nterm. /terms/<term_id> is intended for use when the account has multiple\nterms.\n\nThe action follows the suffix.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/analytics/terms/{term_id}/grades": {
      "get": {
        "summary": "Get department-level grade data",
        "description": "Returns the distribution of grades for students in courses in the\ndepartment.  Each data point is one student's current grade in one course;\nif a student is in multiple courses, he contributes one value per course,\nbut if he's enrolled multiple times in the same course (e.g. a lecture\nsection and a lab section), he only constributes on value for that course.\n\nGrades are binned to the nearest integer score; anomalous grades outside\nthe 0 to 100 range are ignored. The raw counts are returned, not yet\nnormalized by the total count.\n\nShares the same variations on endpoint as the participation data.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "term_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/analytics/current/grades": {
      "get": {
        "summary": "Get department-level grade data",
        "description": "Returns the distribution of grades for students in courses in the\ndepartment.  Each data point is one student's current grade in one course;\nif a student is in multiple courses, he contributes one value per course,\nbut if he's enrolled multiple times in the same course (e.g. a lecture\nsection and a lab section), he only constributes on value for that course.\n\nGrades are binned to the nearest integer score; anomalous grades outside\nthe 0 to 100 range are ignored. The raw counts are returned, not yet\nnormalized by the total count.\n\nShares the same variations on endpoint as the participation data.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/analytics/completed/grades": {
      "get": {
        "summary": "Get department-level grade data",
        "description": "Returns the distribution of grades for students in courses in the\ndepartment.  Each data point is one student's current grade in one course;\nif a student is in multiple courses, he contributes one value per course,\nbut if he's enrolled multiple times in the same course (e.g. a lecture\nsection and a lab section), he only constributes on value for that course.\n\nGrades are binned to the nearest integer score; anomalous grades outside\nthe 0 to 100 range are ignored. The raw counts are returned, not yet\nnormalized by the total count.\n\nShares the same variations on endpoint as the participation data.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/analytics/terms/{term_id}/statistics": {
      "get": {
        "summary": "Get department-level statistics",
        "description": "Returns numeric statistics about the department and term (or filter).\n\nShares the same variations on endpoint as the participation data.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "term_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/analytics/current/statistics": {
      "get": {
        "summary": "Get department-level statistics",
        "description": "Returns numeric statistics about the department and term (or filter).\n\nShares the same variations on endpoint as the participation data.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/analytics/completed/statistics": {
      "get": {
        "summary": "Get department-level statistics",
        "description": "Returns numeric statistics about the department and term (or filter).\n\nShares the same variations on endpoint as the participation data.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/analytics/terms/{term_id}/statistics_by_subaccount": {
      "get": {
        "summary": "Get department-level statistics, broken down by subaccount",
        "description": "Returns numeric statistics about the department subaccounts and term (or filter).\n\nShares the same variations on endpoint as the participation data.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          },
          {
            "in": "path",
            "name": "term_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/analytics/current/statistics_by_subaccount": {
      "get": {
        "summary": "Get department-level statistics, broken down by subaccount",
        "description": "Returns numeric statistics about the department subaccounts and term (or filter).\n\nShares the same variations on endpoint as the participation data.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": null
            }
          }
        ]
      }
    },
    "/v1/accounts/{account_id}/analytics/completed/statistics_by_subaccount": {
      "get": {
        "summary": "Get department-level statistics, broken down by subaccount",
[...]
